* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

input, select, button {
	box-shadow: none!important;
	border-color: #eeeeee!important;
	border-radius: 50px!important;
	padding: 6px 15px!important;
	margin-top: 10px!important;
}

input:focus {
	border-color: #2889e4!important;
}

button {
	background-color: #2889e4!important;
	border: none!important;
	color: #ffffff!important;
}

a:hover {
	color: #2889e4!important;
}

body {
	background-color: #eeeeee;
	letter-spacing: .02em;
}

.post {
	margin-bottom: 30px;
	padding: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}

p {
	line-height: 20px;
}

h2 {
	margin-top: 0px!important;
	font-weight: 700;
}

.meta > div {
	display: inline-block;
	font-weight: 700;
	margin-right: 5px;
	color: #2889e4;
}

.comments {
	padding-top: 0px;
    border-top: 1px solid #dddddd;
    margin-top: 21px;
}

.comment {
	border-top: 1px solid #dddddd;
    padding-top: 10px;
}

.edit_post, .edit_comment {
	float: right!important;
}